apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: linkwarden-externalsecrets
  # namespace: NOTREQUIREDINSIDECHART
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secretsmanager
  target:
    name: linkwarden-externalsecrets
    template:
      data:
        linkwarden-nextauth-secret: '{{ .NEXTAUTH_SECRET }}'
        linkwarden-postgres-secret: '{{ .POSTGRES_PASSWORD }}'
        linkwarden-postgres-url: 'postgresql://linkwarden-user:{{ .POSTGRES_PASSWORD }}@postgres-service/linkwarden'
        linkwarden-meili-secret: '{{ .MEILI_SECRET }}'
  data:
    # - secretKey: linkwarden-backup-token
    #   remoteRef:
    #     key: ""
    - secretKey: NEXTAUTH_SECRET
      remoteRef:
        key: "66f4c147-1cec-44a1-a79e-b3d7017afd17"
    - secretKey: POSTGRES_PASSWORD
      remoteRef:
        key: "0fd16de5-32cd-434c-9f1a-b3d70172b073"
    - secretKey: MEILI_SECRET
      remoteRef:
        key: "753b2fda-2d71-4b6f-aec3-b3d7018034ca"