apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: linkwarden-externalsecrets
  # namespace: NOTREQUIREDINSIDECHART
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secretsmanager
  target:
    name: linkwarden-externalsecrets
    template:
      data:
        linkwarden-postgres-secret: '{{ .POSTGRES_PASSWORD }}'
        linkwarden-postgres-url: 'postgresql://linkwarden-user:{{ .POSTGRES_PASSWORD }}@postgres-service/linkwarden'
  data:
    # - secretKey: linkwarden-backup-token
    #   remoteRef:
    #     key: ""
    - secretKey: POSTGRES_PASSWORD
      remoteRef:
        key: "0fd16de5-32cd-434c-9f1a-b3d70172b073"
