apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: keycloak

namespace: keycloak

# helmCharts:
#   - name: ingress-nginx
#     repo: https://kubernetes.github.io/ingress-nginx
#     releaseName: ingress-nginx
#     version: 4.12.0 # 4.12.0 as at 20250205 Chart version: https://artifacthub.io/packages/helm/ingress-nginx/ingress-nginx
#     namespace: ingress-nginx
#     valuesFile: ./values.yaml

resources:
  - ./resources/namespace.yaml
  - ./resources/keycloak-externalsecrets.yaml
  - ./resources/keycloak-postgres.yaml
  - ./resources/keycloak-deployment.yaml
  - /resources/coredns-overrides.yaml # the config map for the coredns imports below

# patch coredns to allow us to import overrides.
patches:
  # tell coredns to import files in a given folder
  # Comment out / remove this patch if you want to revert coredns to Talos linux' default
  - path: /resources/coredns-import-patch.yaml
    target:
      kind: ConfigMap
      name: coredns
      namespace: kube-system
  # mount that folder from a config map
  - path: /resources/coredns-override-mount-patch.yaml
    target:
      kind: Deployment
      name: coredns
      namespace: kube-system